---
layout: default
---

<div class="home">
  <h1 class="page-heading">
    <a href="https://github.com/hiero-ledger/hiero-improvement-proposals/blob/main/{{page.path}}" target="_blank"><img
        src="/assets/images/gitHub-mark.png" alt="GitHub Logo" width="30" height="30"> HIP-{{ page.hip | xml_escape
      }}:</a> {{ page.title | xml_escape }}
  </h1>
  <h3>{{ page.description | xml_escape }}</h3>
  <table>
    <tr>
      <th>Author</th>
      <td>{% include authorslist.html authors=page.author %}</td>
    </tr>
    {% if page["working-group"] != undefined %}
    <tr>
      <th>Working Group</th>
      <td>{% include workinggrouplist.html working-group=page.working-group %}</td>
    </tr>
    {% endif %}
    {% if page["requested-by"] != undefined %}
    <tr>
      <th>Requested By</th>
      <td>{{ page.requested-by }}</td>
    </tr>
    {% endif %}
    {% if page.discussions-to != undefined %}
    <tr>
      <th>Discussions-To</th>
      <td><a href="{{ page.discussions-to | uri_escape }}">{{ page.discussions-to | xml_escape }}</a></td>
    </tr>
    {% endif %}
    <tr>
      <th>Status</th>
      <td>
        {{ page.status | xml_escape }}
        <span class="tooltip" data-tooltip="{{ page.status }}" style="text-decoration:none">ⓘ</span>
      </td>
    </tr>
    <!-- Support for legacy header: needs-council-approval -->
    {% if page.needs-council-approval != undefined %}
    <tr>
      <th>
        Needs Council Approval
      </th>
      <td>
        {% if page.needs-council-approval %}
        Yes <span class="tooltip" data-tooltip="{{ page.needs-council-approval | jsonify }}"
          style="text-decoration:none">ⓘ</span>
        {% else %}
        No <span class="tooltip" data-tooltip="{{ page.needs-council-approval | jsonify }}"
          style="text-decoration:none">ⓘ</span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.needs-hedera-review != undefined %}
    <tr>
      <th>
        Needs Hedera Review
      </th>
      <td>
        {% if page.needs-hedera-review %}
        Yes <span class="tooltip" data-tooltip="needs-hedera-review-yes" style="text-decoration:none">ⓘ</span>
        {% else %}
        No <span class="tooltip" data-tooltip="needs-hedera-review-no" style="text-decoration:none">ⓘ</span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.needs-hiero-approval != undefined %}
    <tr>
      <th>
        Needs Hiero Approval
      </th>
      <td>
        {% if page.needs-hiero-approval %}
        Yes <span class="tooltip" data-tooltip="{{ page.needs-hiero-approval | jsonify }}"
          style="text-decoration:none">ⓘ</span>
        {% else %}
        No <span class="tooltip" data-tooltip="{{ page.needs-hiero-approval | jsonify }}"
          style="text-decoration:none">ⓘ</span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.hedera-reviewed-date != undefined %}
    <tr>
      <th>Hedera Reviewed Date <span class="tooltip" data-tooltip="hedera-reviewed-date" style="text-decoration:none">ⓘ</span></th>
      <td>
        {% if page.hedera-reviewed-date == "N/A" %}
          Not Reviewed
        {% else %}
          {{ page.hedera-reviewed-date | date_to_rfc822 }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.hedera-approval-status != undefined %}
    <tr>
      <th>Hedera Approval Status <span class="tooltip" data-tooltip="hedera-approval-status" style="text-decoration:none">ⓘ</span></th>
      <td>
        {{ page.hedera-approval-status }}
      </td>
    </tr>
    {% endif %}
    {% if page.last-call-date-time != undefined %}
    <tr>
      <th>Last Call Period Ends <span class="tooltip" data-tooltip="reviewPeriodEnds" style="text-decoration:none">ⓘ</span>
      </th>
      <td>
        {{ page.last-call-date-time | date_to_rfc822 }}
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Type</th>
      <td>
        {{ page.type | xml_escape }}
        <span class="tooltip" data-tooltip="{{ page.type }}" style="text-decoration:none">ⓘ</span>
      </td>
    </tr>
    {% if page.category != undefined %}
    <tr>
      <th>Category</th>
      <td>
        {{ page.category | xml_escape }}
        <span class="tooltip" data-tooltip="{{ page.category }}" style="text-decoration:none">ⓘ</span>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th>Created</th>
      <td>{{ page.created | xml_escape }}</td>
    </tr>
    {% if page.updated != undefined %}
    <tr>
      <th>Updated</th>
      <td>{{ page.updated | xml_escape }}</td>
    </tr>
    {% endif %}
    {% if page.requires != undefined %}
    <tr>
      <th>Requires</th>
      <td>{% include hipnums.html hips=page.requires %}</td>
    </tr>
    {% endif %}
    {% if page.replaces != undefined %}
    <tr>
      <th>Replaces</th>
      <td>{% include hipnums.html hips=page.replaces %}</td>
    </tr>
    {% endif %}
    {% if page["superseded-by"] != undefined %}
    <tr>
      <th>Superseded by</th>
      <td>{{ page.superseded-by | xml_escape }}</td>
    </tr>
    {% endif %}
    {% if page.release != undefined %}
    <tr>
      <th>Release</th>
      <td>
        {% if page.category == "Mirror" %}
        <a href="https://github.com/hiero-ledger/hiero-mirror-node/releases/tag/{{page.release}}">{{ page.release |
          xml_escape }}</a>
        {% else %}
        <a href="https://github.com/hashgraph/hedera-services/releases/tag/{{page.release}}">{{ page.release |
          xml_escape }}</a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if page.resolution != undefined %}
    <tr>
      <th>Resolution</th>
      <td><a href="{{page.resolution | uri_escape }}">{{ page.resolution | xml_escape }}</a></td>
    </tr>
    {% endif %}
  </table>

  <div class="toc">
    <h2>Table of Contents</h2>
    {% include toc.html html=content sanitize=true h_max=3 %}
  </div>

  {% include anchor_headings.html html=content anchorClass="anchor-link" beforeHeading=true %}


  <h2>Citation</h2>
  <p>Please cite this document as:</p>
  {% comment %}
  IEEE specification for reference formatting:
  https://ieee-dataport.org/sites/default/files/analysis/27/IEEE%20Citation%20Guidelines.pdf
  {% endcomment %}
</div>
{% comment %}
Article schema specification:
https://schema.org/TechArticle
{% endcomment %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TechArticle",
    "headline": "HIP-{{ page.hip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "author": "{{ page.author }}",
    "name": "HIP-{{ page.hip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "dateCreated": "{{ page.created | date: "%Y-%m-%d" }}",
    "datePublished": "{{ page.created | date: "%Y-%m-%d" }}",
{% if page["discussions-to"] != undefined %}
    "discussionUrl": "{{ page["discussions-to"] | uri_escape }}",
{% endif %}
    "inLanguage": "en-US",
    "license": "#copyright",
    "copyrightYear": "{{ page.created | date: "%Y" }}"
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tooltipData = {
      status: {
        Draft: "⚠️ The formal starting point of a HIP. The HIP is currently being drafted and is not yet ready for review.",
        Review: "📖 The HIP is ready for review by the community and HIP editors.",
        "Last Call": "📢 The HIP is in a final review window, typically 14 days, before being moved to a Hiero TSC approval vote (Service, Core, Mirror or Block Node HIPs) or Active (Application HIPs).",
        Approved: "👍 A Standards Track HIP has been approved by Hiero TSC.",
        Final: "✅ A Standards Track HIP has been reviewed and approved by Hiero TSC and its reference implementation has been merged.",
        Active: "🌟 A Process Informational or Application HIP that is currently in effect.",
        Deferred: "⏸ A HIP that is not currently being pursued but may be revisited in the future.",
        Withdrawn: "🛑 Author has withdrawn the HIP.",
        Stagnant: "🚧 A HIP that has been inactive for a significant period (e.g., 6+ months) may be marked as Stagnant by the HIP editors.",
        Rejected: "❌ The HIP has been rejected by the HIP editors, the community, or a Hiero TSC vote.",
        Replaced: "🔄 The HIP has been replaced by a newer HIP."
      },
      type: {
        "Standards Track": "📜 Describes a new feature or implementation for the Hiero codebase or an interoperability standard recognized by Hiero.",
        Informational: "📚 Describes a Hiero design issue or provides general guidelines to the community but does not propose a new feature or standard.",
        Process: "⚙️ Describes a process surrounding the Hiero codebase, or proposes a change to one."
      },
      category: {
        Core: "💠 Core HIPs relate to the core protocol or infrastructure.",
        Service: "🌐 Service HIPs address Hedera Services",
        Mirror: "🔍 Mirror HIPs relate to the Hedera Mirror Node",
        "Block Node": "🔍 Mirror HIPs relate to the Hedera Mirror Node",
        Application: "📱 Application HIPs are specific to applications built on top of the Hedera platform.",
      },
      "needs-council-approval": {
        true: "👥 This HIP requires council approval for implementation because it makes changes at the protocol level.",
        false: "✅ This HIP does not require council approval for implementation.",
      },
      "needs-hedera-review-yes": "👥 This HIP requires Hedera approval for implementation because it makes changes at the protocol level.",
      "needs-hedera-review-no": "✅ This HIP does not require Hedera approval for implementation.",
      "hedera-reviewed-date": "📅 The date when Hedera reviewed this HIP. 'Not Reviewed' means it has not yet been reviewed by Hedera.",
      "hedera-approval-status": "👍/👎 Indicates whether Hedera has approved or rejected the HIP, or if approval is not applicable (N/A).",
      "hederaApproval": "📅 The date when this HIP received official approval from Hedera. 'Not Approved' means it has not yet received official approval.",
      "reviewPeriodEnds": "⏳ The last call Last Call Period Ends on this date, after which the HIP's status may change.",
    };

    const tooltipElements = document.querySelectorAll(".tooltip");
    tooltipElements.forEach((tooltipElement) => {
      const tooltipValue = tooltipElement.getAttribute("data-tooltip");
      const tooltipContent = getTooltipContent(tooltipValue);
      tooltipElement.setAttribute("data-tooltip", tooltipContent);
    });

    function getTooltipContent(value) {
      if (tooltipData[value]) {
        return tooltipData[value];
      }
      for (const key in tooltipData) {
        if (tooltipData[key][value]) {
          return tooltipData[key][value];
        }
      }
      return "";
    }
  });
</script>


<script>
  const tooltipElements = document.querySelectorAll('.tooltip');
  tooltipElements.forEach(tooltip => {
    tooltip.addEventListener('mouseover', () => {
      const tooltipText = tooltip.getAttribute('data-tooltip');
      const tooltipBox = document.createElement('div');
      tooltipBox.classList.add('tooltip-box');
      tooltipBox.innerText = tooltipText;
      tooltip.appendChild(tooltipBox);
    });

    tooltip.addEventListener('mouseout', () => {
      const tooltipBox = tooltip.querySelector('.tooltip-box');
      if (tooltipBox) tooltip.removeChild(tooltipBox);
    });
  });
</script>

<style>
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: #069;
  }

  .tooltip-box {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1000;
    font-size: 12px;
    line-height: 1.2;
  }

  .wrapper {
    margin-top: -15px;
  }